
* {
    box-sizing: border-box;
}

#myapp-body ::placeholder {
    color: rgb(209, 54, 37);
    opacity: .4;
    font-weight: normal;
}

#myapp-body { 
    width:400px;
    padding-right: 5px;
    border: solid 1px rgba(228, 95, 80, 0.788);
    background-color: rgba(255, 228, 226, 0.788);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.inputBox {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color:rgba(250,211,207,1);
    box-shadow: 0.35rem 0.35rem 0.15rem rgba(247, 195, 189, 0.897);
    color: rgba(228, 95, 80, 0.788);
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
}

.myapp-input {
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(228, 95, 80, 0.39);
    color: rgb(209, 54, 37);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 10px;

}

.myapp-input:focus {
    outline: solid 1px rgb(209, 54, 37);
}

.saveButton {
    margin: 20px;
    width: 100px;
    justify-self: center;
    border-radius: 15px;
    background: rgba(250,211,207,1);
    padding: 10px;
    box-shadow: 0px 3px 1px rgba(240, 156, 146, 0.979);
    border: none;
    color: rgba(230, 64, 46, 0.979);
    font-weight: bold;
    font-size: 15px;
}

.saveButton:active {
    box-shadow: none;
    transform: translateY(2px);
}

.toggle-password {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 30px;
    color:rgba(230, 64, 46, 0.979);
    user-select: none;
}

.drop-down {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3px;
    top: 100%;
    z-index: 99;
    left: 0;
    width: 100%;
    background: rgb(255, 168, 159);
    border: solid 1px rgba(228, 95, 80, 0.788);
    border-radius: 10px;
    height: fit-content;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.459);
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.drop-down-row {
    color: white;
    background: rgba(228, 95, 80, 0.527);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.drop-down-row:hover {
    background: rgba(228, 95, 80, 0.178);
}


.empty-url {
    cursor: pointer;
}

.empty-url:hover {
    opacity: .6;
}
