
[catlocker] * {
    box-sizing: border-box;
}


[catlocker] ::selection{
    background-color:rgb(248, 241, 201);
}



/* width */
[catlocker] ::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
[catlocker] ::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
    margin: 0 20px;
}

/* Handle */
[catlocker] ::-webkit-scrollbar-thumb {
    background: rgba(247, 89, 71, 0.5); 
    border-radius: 10px;
}

/* Handle on hover */
[catlocker] ::-webkit-scrollbar-thumb:hover {
    background: rgba(247, 89, 71, 0.945);  
}

body[catlocker] ::placeholder {
    color: rgb(209, 54, 37);
    opacity: .4;
    font-weight: bold;
}

body[catlocker] 
{  
    width: 400px;
    height: fit-content;
    border: solid 6px rgba(197, 84, 71, 0.945);
    background-color: rgba(248, 239, 238, 0.938);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
}


[catlocker] main {
    width: 100%;
    margin-top: 50px;
}

[catlocker] .content {
    display: flex;
    flex-direction: column;
    gap: 13px;
    height: fit-content;
}

[catlocker] .headerBox {
    position: fixed;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 1.3rem;
    user-select: none;
    background-color: rgba(197, 84, 71, 0.945); 
    color: white !important;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 20px;
    justify-content: space-between;
    
}

[catlocker] .head-box-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

[catlocker] .inputBox {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 8px;
    background-color:rgba(250,211,207,1);
    box-shadow: 5.6px 5.6px 2.4px rgba(247, 195, 189, 0.897);
    color: rgba(228, 95, 80, 0.788);
    padding: 10px;
    font-size: 20.8px;
    left: -2px;
}

[catlocker] .boxBorder{
    border: 3px white solid;
}


[catlocker] .passwordBox {
    position: relative;
    display:flex;
    align-items: center;
    flex-direction: column;
}


[catlocker] .CL-input-field {
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(228, 95, 80, 0.39);
    color: rgb(209, 54, 37);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 10px;

}

[catlocker] .CL-input-field:hover, .CL-input-field:focus {
    border: none;
    transition: all .5s linear;
    box-shadow: inset 0px 0px 15px  rgba(248, 136, 124, 0.925);
}

[catlocker] .saveButton {
    width: 100px;
    border-radius: 15px;
    background: rgba(250,211,207,1);
    padding: 10px;
    box-shadow: 0px 3px 1px rgba(240, 156, 146, 0.979);
    border: none;
    color: rgba(230, 64, 46, 0.979);
    font-weight: bold;
    font-size: 15px;
    align-self: center;
    cursor: pointer;
}

[catlocker] .saveButton:active {
    box-shadow: none;
    transform: translateY(2px);
}

[catlocker] .drop-down {
    position: absolute;
    display: flex;
    flex-direction: column;

    gap: 4px;
    z-index: 99;
    left: 0.2%;
    top: 93%;
    width: 100%;
    height: 170px;

    box-shadow: 5px 9px 8px rgba(194, 138, 133, 0.479);
        /* -2px 8px 3.5px rgba(204, 143, 137, 0.705); */

    background-color:rgba(250,211,207,1);
    border-radius: 0 0 10px 10px;
    overflow: auto;
    font-size: 15px;
}

[catlocker] .drop-down-row {
    color: rgba(228, 95, 80, 0.788);
    font-weight: 700;
    padding: 5px 45px;
    cursor: pointer;
    user-select: none;
    overflow-wrap: break-word;
}

[catlocker] .drop-down-row:hover {
    background: rgba(228, 95, 80, 0.178);
    /* border-left: 3.3px solid rgba(228, 95, 80, 0.788); */
    box-shadow: inset 15px 0 0 -11px rgba(228, 95, 80, 0.788);
}


[catlocker] .empty-url, #eyeShow, .material-icons-round{
    cursor: pointer;
    opacity: .7;
    user-select: none;
}

[catlocker] .empty-url:hover, #eyeShow:hover, .material-icons-round:hover{
    opacity: 1;
}

[catlocker] .empty-url:active, #eyeShow:active, .material-icons-round:active{
    transform: scaleY(.8) scaleX(1.15) ;
}

[catlocker] #page-btn {
    font-size: 28px;
}


/* Progress Bar */
[catlocker] .message .pwd-strength{
    width: 100%;
    margin-top: 7px;
}

[catlocker] progress[value]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color:white;
    border-radius:  0 0 15px 15px;
}

[catlocker] progress[value]::-webkit-progress-bar{ background: transparent; }
[catlocker] progress[value]::-webkit-progress-value{
    position: relative;
    width: 100%;
    height: 15px;
    background: rgba(228, 95, 80, 0.788);
    border-radius:  0 0 15px 15px;
    transition:all 0.5s;
}

[catlocker] progress[value]::-moz-progress-bar{ background: transparent; }
[catlocker] progress[value]::-moz-progress-value{
    position: relative;
    width: 100%;
    height: 15px;
    background: rgba(228, 95, 80, 0.788);
    border-radius:  0 0 15px 15px;
    transition:all 0.5s;
}
/* 
    background: red;
    background:coral; 
    background: rgb(255, 166, 0);
    background: rgb(217, 255, 47); 
    background: rgb(0, 177, 0); 
*/


/* Strength check */
[catlocker] .message {
    margin-left: 3px;
    margin-top: -13px;
    width: 100%;
    padding: 8px 0 0;
    border-radius:  0 0 15px 15px;

    background-color:rgba(247, 195, 189, 0.897);
    box-shadow: inset 15px 0 30px -5px rgba(250, 154, 141, 0.856);

    font-size: 15px;
    user-select: none;
}


[catlocker] .red{
    color: rgba(200, 92, 80, 0.877);
}
[catlocker] .red::before{
    content: "\2717";
    font-size: 18px;
    margin: 0 5px 0 38px;
}


[catlocker] .green{
    color: rgba(65, 179, 74, 0.877);
    /* color: rgb(255, 227, 70); */
}
[catlocker] .green::before{
    content: "\2713";
    font-size: 18px;
    margin: 0 8px 0 45px;
}


[catlocker] .note{
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    margin-top: -17px;
    padding-left: 8px;
    margin-bottom: 6px;
    color: rgb(200, 92, 80);
}

[catlocker] .loadBtn{
    opacity: .7;
    cursor: pointer;
    font-weight: 700;
    user-select: none;
    padding-left: 7px;
    color: rgba(230, 64, 46, 0.979);

}

[catlocker] .loadBtn:hover{
    opacity: 1;
    text-decoration: underline;
}
[catlocker] .loadBtn:focus{
    font-weight: 800;
}

[catlocker] .material-icons-outlined{
    position: relative;
    top: 4px;
    right: 3px;
}


[catlocker] input[type="file"] {
    display: none;
}


/* register page */
[catlocker] .register{
    font-size: 20px;
    color: rgba(228, 95, 80, 0.788);
    display: flex;
    flex-direction: column;
    align-items: center;
}

[catlocker] .registerBox{
    font-size: 23px;
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    background-color:rgb(250,211,207);
    box-shadow: 5.6px 5.6px 2.4px rgba(247, 195, 189, 0.897);
    padding: 10px 15px;
    margin: 13px 5px;
}


[catlocker] .PINBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px 3px;
    gap: 10px;
}


[catlocker] .submitBtn{
    width: 70px;
    border-radius: 50px;
    background: rgb(252, 246, 245);
    padding: 10px;
    box-shadow: 2px 3px 1px rgba(240, 156, 146, 0.979);
    border: none;
    align-self: center;
    cursor: pointer;
}

[catlocker] .submitBtn:active {
    box-shadow: none;
    transform: translateY(2px);
}
/* register end */